.sk-profile-tab {
    .sk-user {
        padding-top: 3rem;
        &-avatar {
              display: flex;
              justify-content: center;

              .wrap {
                  position: relative;

                  .sk-photo-pending {
                      top: 0;
                      height: 23vh;
                      width: 23vh;
                      border-radius: 50%;
                      img {
                          height: 10vh;
                          width: 10vh;
                      }
                  }

                  img {
                      height: 23vh;
                      width: 23vh;
                      border-radius: 50%;
                      object-fit: cover;
                  }

                  button {
                      position: absolute;
                      right: 1.5vh;
                      bottom: -0.2vh;
                      display: block;
                      height: 5vh;
                      width: 5vh;
                      min-height: 30px;
                      background-image: url("../assets/img/edit.png");
                      background-size: contain;
                      background-repeat: no-repeat;
                  }
              }
        }

        &-info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0 16px;

            span {
                max-width: 80%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            .sk-name {
                font-size: 2rem;
            }

            .sk-about {
                font-size: 1.6rem;
                color: #9AA0A5;
            }
        }

        &-buttons {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 3rem 0;
            padding: 0 16px;

            button {
                height: 4rem;
                min-width: 14rem;
                margin: 0 6px;
                padding: 0 2rem;
                border-color: #c8cdd3;
                font-size: 1.4rem;
                font-weight: bold;
                text-transform: uppercase;
            }
        }

        &-links {
            display: flex;
            flex-direction: column;

            button {
                height: 5.4rem;
                margin: 0;
                border-top: 1px solid #e2e9f3;
                color: #f45c44;
                font-weight: bold;
                font-size: 1.4rem;
                text-transform: uppercase;

                &:last-child {
                    border-bottom: 1px solid #e2e9f3;
                }
            }
        }
    }

    .sk-guest-count {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 2.8rem;
        height: 2.8rem;
        margin-left: 8px;
        font-weight: normal;
        font-size: 1.2rem;
        color: #fff;
        background-color: #f45c44 ;
        border-radius: 50%;
    }
}
