.sk-join-questions-page {
    background-color: #F0F2F3;

    .sk-tos {
      .item-inner {
        border: 0;

        button {
            padding: 0;

            span {
                text-decoration: underline;
            }
        }
      }
    }
}
