<ion-header>
    <ion-navbar>
        <ion-buttons end *ngIf="pageReady">
            <button ion-button icon-only (click)="showConversationActions()">
                <ion-icon name="md-more"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title *ngIf="pageReady" (click)="viewProfile(user.id)">{{user.displayName}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="sk-messages-page">
    <!-- new conversation -->
    <div *ngIf="pageReady && isConversationEmpty" class="sk-new-conversation">
        <user-avatar [useBigAvatar]="true" [url]="user.avatar.bigUrl" [isAvatarActive]="user.avatar.active" (click)="viewProfile(user.id)"></user-avatar>
        <h4 (click)="viewProfile(user.id)">{{user.displayName}}</h4>
        <span>{{ 'mailbox_start_conversation_desc' | translate }}</span>
    </div>

    <!-- load history -->
    <ion-infinite-scroll (ionInfinite)="loadMoreMessages()" *ngIf="pageReady && isCheckLoadMoreActive" position="top">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>

    <!-- messages -->
    <div class="sk-messages" *ngIf="pageReady && !isConversationEmpty">
        <div class="sk-message-wrap" *ngFor="let message of messages; let i = index;">
            <!-- unread messages devider -->
            <div class="sk-unread-message-divider" *ngIf="message.id == unreadMessageId">
                {{ 'mailbox_unread_messages' | translate }}
            </div>
            <plain-message *ngIf="!message.isSystem"
                           [message]="message"
                           [prevMessage]="messages[i - 1]"
                           (messageDelivered)="messageDeliveredEvent($event)"
                           (messageDeleted)="messageDeletedEvent()"
                           (messageTracked)="messageTrackedEvent()">
            </plain-message>
            <wink-message *ngIf="message.isSystem && getSystemMessageType(message.text) == 'wink'"
                          [message]="message"
                          [prevMessage]="messages[i - 1]">
            </wink-message>
        </div>
    </div>
</ion-content>

<ion-footer *ngIf="pageReady && isSendMessageAreaAllowed" no-border class="sk-messages-footer {{ isSendMessageAreaPromoted ? 'sk-messages-footer-promoted' : ''}}">
    <ion-toolbar>
        <button (click)="showUploadImageActions()" ion-button class="sk-chat-footer-attach"><img src="./assets/img/ic_attachment.svg" alt=""></button>
        <ion-textarea *ngIf="!isSendMessageAreaPromoted" rows="1" autosize [(ngModel)]="message"></ion-textarea>
        <ion-textarea *ngIf="isSendMessageAreaPromoted" (click)="sendMessage()" rows="2" readonly="true" placeholder="{{ 'mailbox_send_message_promotion_desc' | translate }}"></ion-textarea>
        <button ion-button (click)="sendMessage()" [disabled]="!isMessageValid">{{ 'send' | translate }}</button>
    </ion-toolbar>
</ion-footer>
