<div class="sk-search-tab sk-navigation-tab">

    <!-- search box -->
    <div class="sk-dashboard-tabs-search-bar" *ngIf="isSearchAllowed">
        <ion-searchbar
            [(ngModel)]="searchUserNameFilter"
            (search)="searchUsers(true)"
            placeholder="{{ 'username_input' | translate }}">
        </ion-searchbar>
        <div class="sk-searchlist" (click)="showSearchFilterModal()"></div>
    </div>

    <ion-scroll #searchScroll [scrollY]="userListLoading && showUserListLoading ? false : true">
        <!-- loading wrapper -->
        <div class="sk-gradient-preloader" *ngIf="userListLoading && showUserListLoading">
        </div>

        <!-- nothing found wrapper  -->
        <div class="sk-nothing-found" *ngIf="!users.length && !userListLoading && isSearchAllowed">
            <img src="./assets/img/user_not_found.svg" alt="">
            <h2>{{ 'empty_user_search_header' | translate }}</h2>
            <span>{{ 'empty_user_search_desc' | translate }}</span>
        </div>

        <!-- search is not allowed   -->
        <div class="sk-permission-denied" *ngIf="!isSearchAllowed">
            <img src="./assets/img/no_permission.svg" alt="">
            <h2>{{ 'permission_denied_header' | translate }}</h2>
            <span>{{ 'permission_denied_alert_message' | translate }}</span>
            <button ion-button outline round [navPush]="inappsPage">{{ 'upgrade' | translate }}</button>
        </div>

        <!-- user list -->
        <ion-list class="sk-user-cards sk-user-cards-searchmode" *ngIf="isSearchAllowed && users.length && (!userListLoading || userListLoading && !isNewSearch)">
            <ng-container *ngFor="let user of getUserList()">
                <div class="sk-item-card">
                    <user-avatar [useBigAvatar]="true" [url]="user.avatar.bigUrl" [isAvatarActive]="user.avatar.active" (tap)="viewProfile(user)"></user-avatar>
                    <div class="{{user.isOnline ? 'sk-card-bottom sk-user-online' : 'sk-card-bottom'}}">
                        <div class="sk-card-info">
                            <div class="sk-name"><span>{{user.realName}}</span><b *ngIf="user.age">, {{user.age}}</b></div>
                        <span class="sk-info" *ngIf="user.distance.distance">
                            <span *ngIf="user.distance.unit == 'km'">{{ 'km_away' | translate:{value: user.distance.distance} }}</span>
                            <span *ngIf="user.distance.unit == 'miles'">{{ 'miles_away' | translate:{value: user.distance.distance} }}</span>
                        </span>
                        <span class="sk-info" *ngIf="!user.distance.distance">
                            <br>
                        </span>
                        </div>
                    </div>
                </div>
            </ng-container>
        </ion-list>

        <ion-spinner *ngIf="userListLoading && !showUserListLoading"></ion-spinner>

    </ion-scroll>

</div>
